<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>

    The SunPy Gallery

</title>

<!-- Bootstrap core CSS -->
<link href="http://sunpy.github.io/css/bootstrap.min.css" rel="stylesheet">

<!-- Documentation extras -->
<link href="http://sunpy.github.io/docs-assets/css/docs.css" rel="stylesheet">
<link href="http://sunpy.github.io/docs-assets/css/pygments-manni.css" rel="stylesheet">

<link href="http://sunpy.github.io/docs-assets/css/sunpy.css" rel="stylesheet">

<!--[if lt IE 9]><script src="http://sunpy.github.io/docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="https://raw.githubusercontent.com/sunpy/sunpy-logo/master/generated/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://raw.githubusercontent.com/sunpy/sunpy-logo/master/generated/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://raw.githubusercontent.com/sunpy/sunpy-logo/master/generated/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://raw.githubusercontent.com/sunpy/sunpy-logo/master/generated/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://raw.githubusercontent.com/sunpy/sunpy-logo/master/generated/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://raw.githubusercontent.com/sunpy/sunpy-logo/master/generated/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://raw.githubusercontent.com/sunpy/sunpy-logo/master/generated/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://raw.githubusercontent.com/sunpy/sunpy-logo/master/generated/favicons/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="https://raw.githubusercontent.com/sunpy/sunpy-logo/master/generated/favicons/favicon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="https://raw.githubusercontent.com/sunpy/sunpy-logo/master/generated/favicons/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="https://raw.githubusercontent.com/sunpy/sunpy-logo/master/generated/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="https://raw.githubusercontent.com/sunpy/sunpy-logo/master/generated/favicons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="https://raw.githubusercontent.com/sunpy/sunpy-logo/master/generated/favicons/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="https://raw.githubusercontent.com/sunpy/sunpy-logo/master/generated/favicons/mstile-144x144.png">

<!-- <link rel="shortcut icon" href="https://raw.githubusercontent.com/sunpy/sunpy-logo/master/generated/favicons/favicon.ico?raw=true"> -->

  </head>
  <body>
    <a class="sr-only" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="http://sunpy.github.io/" class="navbar-brand">SunPy</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="http://sunpy.github.io/about">About</a>
        </li>
        <li>
          <a href="http://sunpy.github.io/blog/index.html">Blog</a>
        </li>
        <li>
          <a href="http://docs.sunpy.org/en/stable/">Docs</a>
        </li>
        <li>
          <a href="http://sunpy.github.io/gallery/index.html">Gallery</a>
        </li>
        <li>
          <a href="http://sunpy.github.io/contribute">Contribute</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="http://sunpy.github.io/help">Help</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://plus.google.com/+SunpyOrg" rel="publisher">Google+</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="content" class="bs-header">
  <div class="container">
    <h1>SunPy Gallery</h1>
    <p>Examples of using SunPy</p>
  </div>
</div>

<div class="container bs-docs-container">
  <div class="row row-centered">
    <div class="col-md-1">
    </div>
    <div class="bs-docs-section">
      <div class="col-md-12">
        <h1></h1>
        <p>
          Welcome to this very beta version of the SunPy gallery we hope that it
          will see much improvement in the near future!
        <div id='sunpy-gallery'></div>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<footer id="footer" class="bs-footer" role="contentinfo">
  <p>
  Generated using <a href="http://www.sunpy.org">SunPy</a>
  </p>
</footer>


<!-- ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://sunpy.github.io/js/bootstrap.js"></script>

<script src="http://sunpy.github.io/docs-assets/js/holder.js"></script>

<script src="http://sunpy.github.io/docs-assets/js/application.js"></script>

<!-- Load SunPy gallery -->
<script type='text/javascript'>
$(function() {
    $.getJSON("gallery.json", function(data) {
        var gallery = $('#sunpy-gallery'),

        // Entry HTML parts
        entry_div = "<div class='col-xs-12 col-sm-6 col-lg-4'>";

        $.each(data.sections, function (section, entries) {
            // Add section header
            section_title = section.replace(/^[\d]*-/, '');
            gallery.append("<h2>" + section_title + "</h2>");
            subsection = $('<div class="gallery-section row">').appendTo(gallery);

            $.each(entries, function(i, notebook) {
                // @TODO: either decide to use only PNG, or detect
                // file extension.
                var basefile = section + "/" + notebook.notebook,

                // construct gallery entry
                entry = entry_div + "<h4 style='text-align: center'>" + notebook.link_name + "</h4>" +
                    "<a href='" + basefile + ".html'>" +
                    "<img width='100%' src='" + basefile + ".png' /></a></div>";

                // Add to output
                subsection.append(entry);
            })

            // End of gallery section
            gallery.append('</div>');
        });

        // Add SunPy version
        $("#footer a").text("SunPy v" + data.meta.sunpy);
    });
});
</script>

</body>
</html>
